---
layout: page
title: 
permalink: /books/
---

A list of books. Currently reading, To-read & Read
<div class="flex-container">
  <div>
    <h6> Currently Reading </h6>
    <ul>
      {% for book in site.data.books.currentlyReading %}  
      <li>
      {{book}}
      </li>
      {% endfor %}
    </ul> 
  </div>
  
  <div>
    <h6>To-Read </h6>
    <ul>
      {% for book in site.data.books.toRead %}  
      {% if book.read %}
      <li>
        <s>{{book.name}}</s>
      </li>
       {% else %}
       <li>
          {{book.name}}
        </li>
         {% endif %}
      {% endfor %}
    </ul>  
  </div>
</div>
